* {
    margin: 0;
    padding: 0;
}
body{
font-family: "Lobster", sans-serif;
}

.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-arround;
    align-irens: center;
    padding: 24px 0;
}

.cabecalho-imagem {
    whidt: 20%
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem {
    widht: 25%
}

.escola {
    backeground-image: linear-gradient(#424E61, #16CFF8);
    color: white;
    display:flex;
    justifiy-content:cente;
    align-itens: center;
    padding: 24px 0;
}

.escola-div-conteudo {
    widdht: 35%;
}

.escola-titulo {
    padding: 24px 0;
}
.estudantes-imagem{
    width:24px;
    padding:4px 8px;
}
.estudante-icone{
    width:24px;
    padding:4px 8px;
}
